In [ ]:
#1 변수 기본예제
name = 'Alice'
age = 25
address = '''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

# 기본 자료형

- 종류 : **int, float, bool, str**

1. 정수(int)
- 10진수, 2진수, 8진수, 16진수로 표현 가능
- 10진수 : 0~9로 시작하는 숫자
    - 예시 : n = 95
- 2진수 : 0b로 시작하는 숫자
    - 예시 : n = 0b1011111
- 8진수 : 0o로 시작하는 숫자
    - 예시 : n = 0o137
- 16진수 : 0x로 시작하는 숫자
    - 예시 : n = 0x5f


2. 실수(float)
- 기본적으로 소수점이 있는 숫자를 실수라고 함
- 지수 형식이나 복소수 형식으로 표현할 수도 있음
- 실수 : 소수점이 있는 숫자
    - 예시 : n = 3.14
- 지수 : e를 포함하는 숫자
    - 예시 : n = 1.5e2
-복소수 : 실수와 허수(j)를 포함하는 숫자
    - 예시 : n = 1.5 + 2.54j


3. 논리(bool)
- False : 거짓
    - 0, ", [], (), {} 등
- True : 참
    - False 외 모든 값


4. 문자열
- 문자열(str)이란?
    - single line : ' ' / " " (한 줄의 문자열)
    - multiple line : ''' ''' / """ """ (여러 줄의 문자열)
- 문자열 변환 : 문자열이 아닌 변수값을 str() 함수를 이용해 문자열로 변환
- 문자열 인덱싱(indexing) : 'hello'라는 문자열이 있을 때 h부터 0 ~ 4, 마이너스(-) 인덱스도 존재. h부터 -5 ~ -1
- 문자열 슬라이싱(slicing)
    - s[start:stop:step]
        - start : 시작 인덱스 지정, 생략하면 처음부터 추출
        - stop : 종료 인덱스 지정, 생략하면 끝까지 추출
        - step : 인덱스의 증감값, 생략하면 1씩 변화
        - 종료 인덱스의 이전까지만 추출

In [ ]:
#2 기본 자료형 기본예제

#정수(int)
int(1.9) # 소수점 이하를 제거하여 정수 1로 반환
int(True) # True는 1로 변환
int(False) # False는 0으로 변환
int('100') # 문자열 '100'을 정수 100으로 변환
n = 95
bin(n) # 2진수로 변환
oct(n) # 8진수로 변환
hex(n) # 16진수로 변환

#실수(float)
float(1) # 정수 1을 실수 1.0으로 변환
float(True) # True는 1.0으로 변환
float(False) # False는 0.0으로 변환
float('3.14') # 문자열 '3.14'를 실수 3.14로 변환
float('100') # 문자열 '100'을 실수 100.0으로 변환

#논리(bool)
bool(0) # False
bool('') # False
bool([]) # False

#문자열(str)
#문자열 변환
str(100) # 정수 100을 문자열 '100'으로 변환
str(True) # 논리 True를 문자열 'True'로 변환
str(False) # 논리 False를 문자열 'False'로 변환
str(3.14) # 실수 3.14를 문자열 '3.14'로 변환
#문자열 인덱싱(indexing)
s = 'hello'
s[1] # 'e'
s[1] == s[-4] # True
#문자열 슬라이싱(slicing)
s = 'banana'
s[0:3] # 'ban'

True

# 컬렉션
- 리스트
    - 생성 함수 : list()
        - 생성
            - li = [값1, 값2, ...]
            - li = list(반복가능객체)
    - 특징
        - 추가, 수정, 삭제가 언제나 가능
        - 저장하고자 하는 값들의 자료형이 서로 다르더라도 하나의 리스트에 저장할 수 있음
    - 리스트 요소의 추가와 삭제
        - 추가 : append(), insert()
            - apeend()는 항항 마지막 요소로 추가, insert()는 추가할 인덱스(위치 정보)를 지정할 수 있음
        - 삭제 : pop()
    - a = [1,2,3]
- 튜플
    - 생성 함수 : tuple()
        - 생성
            - t = (값1, 값2, ...)
            - t = tuple(반복가능객체)
            - t = 값1, 값2, ...
            - 값이 1개만 있는 튜플을 생성할 경우 : 값과 콤마(,)를 반드시 함께 작성해야함.
                - t = (값1,)
                - t = 값1,
    - 특징 : 생성되고 나면 변경 불가능
    - a = (1,2,3)
- 세트
    - 생성 함수 : set()
        - 생성
            - s = {값1, 값2, ...}
            - s = set(반복가능객체)
            - 빈 세트를 생성할 때는 중괄호({})를 사용할 수 없음. set()함수를 사용해야 함
    - 특징
        - 중복된 값의 저장 불가능
            - 이 특징을 이용하여 중복 제거용으로 사용하거나 교집합, 합집합, 차집합과 같은 집합 개념이 필요한 경우 사용할 수 있음
        - 순서가 없기 때문에 인덱스와 슬라이싱 불가능
    - 세트 요소의 추가와 삭제
        - 추가 : add() (위치 지정 불가)
        - 삭제 : remove(), discard()
    - a = {1.2.3}
- 딕셔너리
    - 생성 함수 : dict()
        - 생성
            - dict = {키1: 값1, 키2: 값2, ...}
            - 값1 == dict[키1]
            - 값2 == dict[키2]
    - 특징 : 키+값으로 관리
    - 딕셔너리 요소의 추가와 삭제
        - 추가
            - dic = {'apple':'사과} # {key:value}
            - dic['apple']= '사과'
            - 새로운 키와 값 조합
            - 기존에 존재하는 키값을 이용하여 추가하면 해당 키 값에 저장되어 있던 값이 수정됨
            - setdefault()를 이용하여 추가할 수도 있음
        - 수정
            - update()를 이용해 수정
            - 기존에 존재하지 않는 키값을 이용해 update()를 호출하면 새로운 데이터가 추가됨. 이 경우 키값은 문자열이여야만 함.
        - 삭제
            - pop()을 통해 삭제
    - a = {'age':25}

- 시퀀스(sequence)
    - 컬렉션 중에서 저장된 값들의 순서가 있는 컬렉션
    - 예 : 리스트, 튜플

In [ ]:
#3 컬렉션 기본 예제

#리스트
#리스트의 생성
li = [100, 3.14, 'hello']
li # [100, 3.14, 'hello']

#리스트의 인덱싱(indexing)과 슬라이싱(slicing)
li[0] # 100
li[1] # 3.14
li[2] # 'hello'
li = [10, 20, 30, 40, 50]
li[0:3] # [10, 20, 30]

# 리스트 요소의 추가와 삭제
scores = [50, 40, 30]
scores.append(100) # [50, 40, 30, 100]
scores.insert(0, 90) # 인덱스 0에 90 추가. [90, 50, 40, 30, 100]
scores.pop() # 마지막 요소 제거. [90, 50, 40, 30]
scores.pop(0) # 인덱스가 0인 요소 제거. [50, 40, 30]


#튜플
t1 = (1,2,3) # (1,2,3)
t2 = 1,2,3 # (1,2,3)
t3 = tuple([100, 3.14, 'hello'])
t4 = 100 # 100
type(t4) # <class 'int'>
t5 = (100,) # (100,)
type(t5) # <class 'tuple'>


#세트
#빈 세트 생성
s = {}
type(s) # <class 'dict'>
s = set()
type(s) # <class 'set'>
#리스트의 중복 요소 제거 과정
li = list(set([1,1,2,2,3,3]))
li # [1,2,3]
#세트 요소 추가와 삭제
s = {10, 20, 30}
s.add(40) # 세트에 40 추가
s # {40, 10, 20, 30} 세트에 저장되는 요소들은 순서가 없음
s.remove(20) # 세트에서 20 제거. 20이 없으면 KeyError 오류 발생
s # {40, 10, 30}
s.discard(30) # 세트에서 30 제거. 30이 없어도 오류가 발생하지 않음
s # {40,10}


#딕셔너리
dic = {'apple':'사과'}
dic['watermelon']='멜론'
dic # {'apple':'사과', 'watermelon':'멜론'} 데이터 추가 후 결과
dic['watermelon'] ='수박' # 기존과 같은 키 값으로 추가하면 값 수정됨
dic # {'apple':'사과', 'watermelon':'수박'}
me = {'name':'james'}
me.setdefault('age', 20) # 'age':20을 me에 추가하고 추가된 값 20을 반환
me # {'name':'james', 'age': 20}
me.update(age=25) # 'age':25로 수정
me # {'name':'james', 'age': 25}
me.update(address='seoul')
me # {'name':'james', 'age': 25, 'address':'seoul'}
me.pop('address') # 'address':'seoul' 삭제
me # {'name':'james', 'age': 25}

# mutable과 immutable
- mutable : 생성된 후에도 변경이 가능한 자료형
    - 예시 : 리스트, 세트, 딕셔너리
- immutable : 생성된 후에는 변경이 불가능한 자료형
    - 정수, 실수, 문자열, 튜플
- id() : 전달된 변수나 자료형이 메모리의 어디에 저장되어 있는지 그 위치 정보를 정숫값으로 반환

In [ ]:
#응용예제
#1
print("1번")
학번 = '31025'
print(f"{학번[0]}학년 {학번[1:3:]}반 {학번[3::]}번\n")

#2
print("2번")
차량번호 = ['서울2가1234','10가1234','288가1234']
print(f"{차량번호[0]}의 차량번호 4자리는 {차량번호[0][-4::]}입니다.\n")

#3
print("3번")

1번
3학년 10반 25번

2번
서울2가1234의 차량번호 4자리는 1234입니다.