# 표준 출력
- 이스케이프 문자
    - \' : 작은따옴표(single quote), '
    - \" : 큰따옴표(double quote), "
    - \n : 줄 바꿈(line feed), LF
    - \r : 캐리지 리턴(carriage return), CR
    - \t : 탭(tab), TAB
    - \v : 수직 탭(vertical tab), VT
    - \\ : 역슬래시
    - \a : 벨(bell), BEL
    - \b : 백스페이스(back space), BS

- print() 함수
    - print(value, ... sep=' ', end='\n', file-sys.stdout, flush=False)
    - sep : 출력할 value의 구분자
        - 기본값 : ' '(의미 : 공백)
        - 사용하지 않고 print()함수 사용하면 출력 대상은 공백으로 구분
    - end : value 출력 후 출력할 문자
        - 기본값 : '\n'(의미 : 줄 바꿈)
        - 사용하지 않고 print()함수 사용하면 출력 대상은 공백으로 구분 
    - file : 출력 방향 지정
        - 기본값 : sys.stdout(의미 : 모니터를 의미)
        - 사용하지 않고 print()함수 사용하면 출력 대상은 모니터에 출력됨
    - flush : flush 유무 지정
        - 기본값 : False(의미 : 스트림 비우지 않음)
        - 사용하지 않고 print()함수 사용하면 출력 후 출력 스트림은 비워지지 않음

In [3]:
#기본예제1
print('Hello \'World\'')
print("Hello \"World\"")
print('*n**\n***')
print('이름\t연락처')
print('제시카\t02-123-4567')
print('마틴\t010-8765-1234')

print()
#기본예제2
print('재미있는', '파이썬')
print('Python', 'Java', 'C', sep=',')

print()

print('영화 타이타닉')
print('평점', end=':')
print('5점')

fos = open('sample.py', mode='wt')
print('print("Hello World")', file=fos)
fos.close()

Hello 'World'
Hello "World"
*n**
***
이름	연락처
제시카	02-123-4567
마틴	010-8765-1234

재미있는 파이썬
Python,Java,C

영화 타이타닉
평점:5점

# 형식을 갖춘 문자열
- % 연산자
    - %d : decimal, 정수(10진수)
    - %o : octal, 정수(8진수)
    - %x : hexadecimal, 정수(16진수)
    - %f : floating point, 실수
    - %s : string, 문자열

In [1]:
# 출력 대상의 필드 폭, 소수점 자릿수 조정

# 5자리로 오른쪽 맞춤 출력
print('%5d' % 1)
print('%5d' % 22)
print('%5d' % 333)
print('%5d' % 4444)
print('%5d' % 55555)

# 5자리로 왼쪽 맞춤 출력
print('%-5d' % 1)
print('%-5d' % 22)
print('%-5d' % 333)
print('%-5d' % 4444)
print('%-5d' % 55555)

# 전체 5자리, 소수 이하 2자리 오른쪽 맞춤
print('%5.2f' % 3.66)

# 전체 5자리, 소수 이하 1자리 오른쪽 맞춤
print('%5.1f' % 3.66)

# 전체 5자리, 소수 이하 2자리 왼쪽 맞춤
print('%-5.2f' % 3.66)

# 전체 5자리, 소수 이하 1자리 왼쪽 맞춤
print('%-5.1f' % 3.66)

# 소수 이하 2자리
print('%.2f' % 3.66)

# 소수 이하 1자리
print('%.1f' % 3.66)

    1
   22
  333
 4444
55555
1
22
333
4444
55555
 3.66
  3.7
3.66
3.7
3.66
3.7

In [2]:
# 문자열 형식 기호로 정수와 실수 모두 처리 가능
print('%s' % 10)
print('%s' % 3.14)

#어떤 값을 출력할 때 형태의 변화 없이 그대로 출력하고자 한다면 %s를 사용하는 것도 방법

10
3.14

In [3]:
#기본예제
name = 'Kai'
print('내 이름은 %s입니다.' % name)

height = 120.5
print('내 키는 %fcm입니다.' % height)

weight = 23.55
print('내 몸무게는 %.1fkg입니다.' % weight)

year, month, day = 2014, 8, 25
print('내 생일은 %d년 %d월 %d일입니다.' % (year, month, day))

내 이름은 Kai입니다.
내 키는 120.500000cm입니다.
내 몸무게는 23.6kg입니다.
내 생일은 2014년 8월 25일입니다.

In [4]:
# format() 매소드
# format() 메소드의 인수로 변수나 값을 표시하고, 해당 값이 표시될 위치를 중괄호({})로 표시하는 방식
print('My name is {}'.format('James'))
print('My name is {0}'.format('James')) # 인수의 인덱스를 지정한 {0}을 사용해도 같은 결과를 얻을 수 있음
print('My name is {name}'.format(name='James')) # {name}과 같은 방식으로 표시할 변수명 지정 가능

# 3개의 결과가 모두 같음

My name is James
My name is James
My name is James

In [5]:
# 기본예제
zipcode = '12345'
print('우편번호 :{}'.format(zipcode))

address = "대전광역시 유성구"

print('주소 : {addr}'.format(addr=address))
tel1, tel2, tel3 = '010', '1234', '5678'
print('연락처 : {0}-{1}-{2}'.format(tel1, tel2, tel3))

우편번호 :06236
주소 : 서울특별시 강남구 어쩌고
연락처 : 02-538-0021

In [8]:
# f-string
name = 'James'
print(f'My name is {name}')

year = 2026
print(f'내년은 {year+1}년 입니다.')

My name is James
내년은 2027년 입니다.

In [11]:
# input() 함수
# input() 또는 input('프롬프트') 형식으로 사용
# 모든 입력을 문자열로 저장
n = input('숫자를 입력하세요 :')
print(n)

#형 변환
n = int(input('정수를 입력하세요 :'))
type(n) # 자료형 확인

20

int

In [10]:
# 기본 예제
name = input('이름을 입력하세요 :')
grade = input('학년을 입력하세요 : ')

print(f'입력된 이름은 {name}입니다.')
print('입력된 학년은 {}학년 입니다.'.format(grade))

입력된 이름은 James입니다.
입력된 학년은 2학년 입니다.

In [17]:
#응용 예제
#1번
print("1번")
n1 = float(input('첫 번째 실수를 입력하세요 : '))
n2 = float(input('두 번째 실수를 입력하세요 : '))
print(f'{n1}와 {n2}의 합은 {n1+n2}입니다.')

#2번
print("\n2번")
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
month = int(input('1~12 사이의 월을 입력하세요 : '))
print(f'{month}월은 {days[month-1]}일까지 있습니다.')

#3번
print("\n3번")
english_dict = {
    'flower' : '꽃',
    'fly' : '날다',
    'floor' : '바닥'
}
search = input('영어 단어를 입력하세요 : ')
print(f'{search} : {english_dict[search]}')

#4번
print("\n4번")
s = set()
for i in range(3) :
    n = input('희망하는 수학여행지를 입력하세요 : ')
    s.add(n)
print(f'조사된 수항여행지는 {s}입니다.')

1번
1.23와 2.34의 합은 3.57입니다.

2번
2월은 28일까지 있습니다.

3번
flower : 꽃

4번
조사된 수항여행지는 {'민속촌', '제주'}입니다.